<?xml version="1.0"?>

<model>
  <name>TurtleBot3 Hospital</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>  

  <author>
    <name>Susung Park</name>
    <email>sspark010@gmail.com</email>
  </author>

  <description>
    Hospitality Robot in hospital.
  </description>
</model>
